*.pyc
**/simdata/*
**/.vscode/*
**/build/*
**/dist/*
pyelmer.egg-info/
*.aux
*.bcf
*.blg
*.log
*.out
examples/3D_Electrostatic_Capacitance/LaTeX_Source/main.run.xml
examples/3D_Electrostatic_Capacitance/LaTeX_Source/main.synctex.gz
*.toc
*.bbl
.coverage
docs/_build
